@page
@model BattleShip_Web.Pages_Games.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>@Model.Winner</h1>



<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
